################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ch06Ex1RoutingPractice/.vs/Ch06Ex1RoutingPractice/DesignTimeBuild/.dtbcache.v2
/Ch08Ex1GuitarShop
